* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}
#sidebar {
  padding: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 20vw;
  min-width: 20rem;
  height: 100%;
  background: rgba(0,8,22,0.8);
  z-index: 1;
}
#sidebar h1 {
  color: white;
  font-size: 1.5rem;
	margin-bottom: 0.5rem;
}
#sidebar p {
  color: white;
  font-size: 0.75rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
#sidebar a {
	color: #CCC;
}
span.key {
	text-shadow: 1px 1px 0 white;
}
span.lvl1 {
	color: #3333ff;
}
span.lvl2 {
	color: #7f82e9;
}
#map-div {
	position: absolute;
	width: 100%;
	height: 100%;
}
